body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 14px;
	background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.contain {
	padding-top: 15px;
	padding-bottom: 3px;
	width: 100%;
	/*height: 99px;*/
	background: #280003;
	margin: 0 auto; 
}

.contain2 {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: #C8DAEC;
	margin: 100; 
}

/*_______________ВЕРХНЕЕ МЕНЮ______________*/

.nav{
	width: 1070px;
	margin: 0 auto; 
	display: flex; 
	align-items: center; /*меню в одну строку*/
}

.logo{
	margin-right: 317px;
	width: 133px;
	height: 78px;
}

.menu{
	display: flex;
	margin-left: auto;
}

.menu li a{
	text-decoration: none;
	color: #FFE6A6; 
	display: inline-block;
    line-height: 1;
    font-size: 16px;

    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.menu li a:after {
	margin-top: 10px;
	display: block;
    content: "";
    background-color: #FFE6A6;
    opacity: .3;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu li{
	margin-left: 68px;
}

/* _______________СТРОКА ПОИСКА_______________ */

.search{
	position: relative;
	height: 32px;
	width: 715px;
	border-radius: 40px;
	background: white;
	padding-left: 34px;
	margin-left: 23%;
	color: black;
	font-size: 16px;
}

.btn{
	text-decoration: none;
	font-size: 16px;
	border: none;
	color: black;
	padding: 6px 33px;
	border-radius: 40px;
	background: #FCB600;
	box-shadow: 7px 4px 20px rgba(252, 182, 0, 0.5);
	float: right;
}

.btn:hover{
	background: #E63C27;
	box-shadow: 7px 4px 24px #E63C27;
}

.field{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 0.4s;
	line-height: 32px;
	width: 540px;
	font-family: 'Montserrat', sans-serif;
}

.pic2{
	position:absolute;
	right: 0px;
	top: 0px;
}

.pic1{
	position:absolute;
	left: 0px;
	top: 0px;
}