.contain {
	padding-top: 10px;
	padding-bottom: 6px;
	width: 100%;
	background: #280003;
	margin: 0 auto; 
}

.contain2 {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: #C8DAEC;
}

/*________НАВЕРХ_________*/

.top{
	position: fixed;
	z-index: 100;
	left: 5%;
	top:80%;
}

.top img{
	width: 70px;
}

/*_______________ВЕРХНЕЕ МЕНЮ______________*/

.nav, .nav2{
	width: 1070px;
	margin: 0 auto; 
	display: flex; 
	align-items: center; /*меню в одну строку*/
}

.logo{
	margin-right: 317px;
	width: 133px;
	height: 78px;
}

.menu, .menu2{
	display: flex;
	margin-left: auto;
}

.menu li a{
	text-decoration: none;
	color: #FFE6A6; 
	display: inline-block;
    line-height: 1;
    font-size: 16px;

    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.menu li a:after {
	margin-top: 10px;
	display: block;
    content: "";
    background-color: #FFE6A6;
    opacity: .3;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu li a:hover:after,
.menu li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu li{
	margin-left: 68px;
}

/* _______________СТРОКА ПОИСКА_______________ */

.search{
	position: relative;
	height: 32px;
	width: 715px;
	border-radius: 40px;
	background: white;
	padding-left: 34px;
	margin-left: 23%;
	color: black;
	font-size: 16px;
}

.btn{
	text-decoration: none;
	outline: none;
	font-size: 16px;
	border: none;
	color: black;
	padding: 6px 33px;
	border-radius: 40px;
	background: #FCB600;
	box-shadow: 7px 4px 20px rgba(252, 182, 0, 0.5);
	float: right;
}

.btn:hover{
	background: #E63C27;
	box-shadow: 7px 4px 24px #E63C27;
}

.field{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	transition: 0.4s;
	line-height: 32px;
	width: 540px;
	font-family: 'Montserrat', sans-serif;
}

.poisk-text{
	display: inline;
}

.pic2{
	position:absolute;
	right: 0px;
	top: 0px;
}

.pic1{
	position:absolute;
	left: 0px;
	top: 0px;
}

/*_________МОБИЛЬНОЕ МЕНЮ_________*/

.mobile-menu{
	display: none;
	background: #280003;
}

.small-nav{
	display: flex;
    padding-top: 5px;
	padding-bottom: 5px;
	justify-content: space-between;
}

.small-nav img{
	height: 34px;
}

.open-button{
	background: transparent;
	border: none;
	margin-top: auto;
	margin-bottom: auto;
}

.open-button:focus {
	outline: none;
}

.small-nav a{
	margin-top: auto;
	margin-bottom: auto;
}

.inst-logo{
	right: auto;
}

.small-nav .logoo{
	height: 40px;
}

.line {
	border-left: 1px solid #FFE6A6;
	height: 44px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
    margin-left: 10px;
}

.header .show-menu{
	display: block;
	position: absolute;
    background: #280003;
	top: 54px;
    width: 300px;
    z-index: 50;
    left: 0;
    width: 100%;
}

/*_________ФУТЕР__________*/

.footer{
	display: block;
	background-color: #280003;
	padding-top: 20px;
	padding-bottom: 15px;
}

.menu2{
	display: flex;
	margin-left: auto;
}

.menu2 li a:after {
	margin-top: 10px;
	display: block;
    content: "";
    background-color: #FFE6A6;
    opacity: .3;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu2 li a:hover:after,
.menu2 li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu2 li a{
	display: block;
	text-decoration: none;
	font-size: 16px;
	color: #FFE6A6; 
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.menu2 li{
	margin-left: 68px;
}

/*____________МЕДИА___________*/

@media screen and (max-width: 1400px) {
	.container {
		width: 1070px;
	}
	.pic1, .pic2{
		display: none;
	}
}

@media screen and (max-width: 1199px) {
	.container, .nav{
		width: 960px;
	}
	.logo {
    margin-right: 0;
	}
	.field {
		width: 400px;
	}
	.search{
		width: 57%;
		margin-left: 28%;
	}
	.logo2 {
		margin-right: 0;
	}
	.menu2 li a{
		font-size: 16px;
	}
}

@media screen and (max-width: 991px) {
	.container, .nav {
		width: 720px;
	}
	.search{
		width: 57%;
		margin-left: 39%;
	}
	.field {
	    width: 250px;
	}
	.menu li {
	    margin-left: 48px;
	}
	.menu2 li{
		margin-left: 48px;
	}

}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
		padding: 0;
		margin: auto;
	}
	.contain{
		padding: 0;
	}
	.hide {
		display: none;
	}
	.logo{
		display: none;
	}
	.mobile-menu {
	    display: block;
	}

	.menu2{
		display: block;
		margin-right: auto;
	}
	.menu2 li a{
		font-size: 14px;
		height: 20px;
		padding-bottom: 0;
	}
    .menu2 li{
    	padding-bottom: 0;
    	margin: 0;
    	text-align: center;
    }
	.logo2 {
		width: 80%;
	}
	.footer {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.menu {
	    display: flex;
	    flex-direction: column;
	    margin-right: auto;
	    align-items: center;
	}
	.menu li{
		margin-left: 0;
	}
	ul, li {
    	margin: 10px;
	}
	.search {
	    width: 85%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.poisk-text {
	    display: none;
	}
	.btn{
		padding: 6px 15px;
	}
	.field {
	    width: 85%;
	}
	.nav {
	    width: 100%;
	}
	.top img{
		width: 60px;
	}
}

@media screen and (max-width: 575px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 425px) {
	.small-nav .logoo {
   		height: 30px;
	}
	.line{
		height: 34px;
	}
	.small-nav img{
		height: 28px;
	}
	.menu li a{
		font-size: 14px;
	}
	.field {
   		width: 80%;
	}
	.field{
	    font-size: 14px;
	}
	.contain2 {
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	.header .show-menu{
		top: 44px;
	}
	.top img{
		width: 100%;
	}
	.top{
		top:83%;
	}
}

@media screen and (max-width: 375px) {
	.menu2 li a {
    	font-size: 11px;
	}
	.logo2 {
		width: 60%;
	}
	body{
		font-size: 12px;
	}
	.field{
	    font-size: 12px;
	}
}
