body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
	font-size: 14px;
	background-color: #F9F9F9;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

p{
	margin: 0;
}

/*__________ЗАГОЛОВОК_________*/

.section{
	width: 1070px;
	margin: 0 auto; 
}

.path a{
	display: inline-block;
	text-decoration: none;
	color: #646464;
	margin-top: 23px;
	margin-bottom: 23px;
}

h1{
	font-size: 24px;
	font-weight: normal;
}

/*__________ГАЛЕРЕЯ__________*/

.gallery{
	display: grid;
	width: 43%;
	grid-gap: 14px;
	float: left;
	margin-top: 24px;
}

.gallery img{
	border-radius: 6px;
	border: 1px solid #ccc;
	width: 100%;
	cursor: pointer;
}

.small-img{
	opacity: 0.8; 
}

.small-img:hover {
    opacity: 1;
}

.big_pic {
  width: 100%;
  margin: auto;
  overflow: hidden; /* clearfix */
  grid-column: 1/5;
}

.big_pic:before {
  content: "";
  padding-top: 100%; /*квадратная галлерея*/
  float: left;
}

/*__________ИНФО___________*/

.info{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 54%;
	float: left;
	margin-top: 24px;
	margin-left: 3%;
}

.general{
	display: inline-block;
	padding-right: 10%; 
}

.general p{
	color: #646464;
	font-size: 14px;
	margin-bottom: 5px;
}

.price{
	margin-top: 73px;
	margin-bottom: 21px;
	font-size: 30px;
}

.buy-button{
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	color: #fff;
	border-radius: 25px;
	background: #FCB600;
	padding: 10px 58px;
	box-shadow: 7px 4px 20px rgba(252, 182, 0, 0.5);
	margin-bottom: 11px;
}

.buy-button:hover{
	background: #E63C27;
	box-shadow: 7px 4px 24px #E63C27;
}

.delivery{
	margin-left: 7%;
}

.delivery li{
	display: flex;
	align-items: center;
	line-height: 170%;
	letter-spacing: 0em;
	margin-bottom: 11px;
}

.delivery li img{
	margin-right: 11px;
}

.delivery hr{
	margin-top: 0;
	margin-bottom: 11px;
}

.about{
	grid-column: 1/3;
	margin-top: 60px;
}

.spoiler-title{
	position: relative;
	display: block;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #646464;
	margin-bottom: 16px;
	margin-top: 16px;
	margin-left: 35px;
	cursor: pointer;
}

.closed:after{
	content: "";
	display: block;
	border-style: solid;
	border-width: 6px 5px 0 5px;
	border-color: #A4A4A4 transparent transparent transparent;
	position: absolute;
	top: 10px;
    right: 30px;
	z-index: 1;
	pointer-events: none;
}

.opened:after{
	content: "";
	display: block;
	border-style: solid;
	border-width: 0 5px 6px 5px;
	border-color: transparent transparent #A4A4A4 transparent;
	position: absolute;
	top: 10px;
    right: 30px;
	z-index: 1;
	pointer-events: none;
}

.spoiler-body{
	display:none;
	margin-top: 0px;
	margin-bottom: 45px;
	line-height: 170%; 
	color: #646464;
}

.hr{
	margin-top: 0px;
	margin-bottom: 45px;
}

.opened {
	color:black;
}

.hr2{
	margin: 0;
}

/* _______________ФУТЕР_______________ */

.footer{
	display: inline-block;
	background-color: #280003;
	padding-top: 35px;
	padding-bottom: 15px;
	padding-left: 22%;
    padding-right: 22%;
    margin-top: 111px;
}

.menu2{
	display: flex;
	margin-left: auto;
}

.menu2 li a:after {
	margin-top: 10px;
	display: block;
    content: "";
    background-color: #FFE6A6;
    opacity: .3;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu2 li a:hover:after,
.menu2 li a:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.menu2 li a{
	display: block;
	height: 27px;
	text-decoration: none;
	font-size: 20px;
	color: #FFE6A6; 
	display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
padding-bottom: 7px;
}

.menu2 li{
	margin-left: 48px;
	padding-bottom: 7px;

}

.logo2{
	margin-right: 258px;
}
